coverage
__test-helpers__
__tests__
__fixtures__
docs
flow-typed
src
*.log

.babelrc
.codeclimate.yml
.editorconfig
.eslintrc.js
.snyk
.travis.yml
wallaby.js
webpack.config.js
.eslintignore
.flowconfig
*.png
yarn.lock
.idea
